main {
    background-color: $main;
    background-image: url(images/homepage_main-background.png);
    background-position: bottom;
    background-repeat: no-repeat;

    > div {
        max-width: 760px;
        margin: 0 auto;
        padding-top: 60px;
        padding-bottom: 60px;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #intro-title-acc {
        width: 6px;
        height: 32px;
        margin-left: -80px;
        margin-top: 10px;
        position: absolute;
        background-color: $border_2;
    }

    #intro {
        height: 360px;
        padding-top: 50px;
        padding-bottom: 42px;
        padding-left: 80px;
        padding-right: 80px;
        border-top: 8px solid $border_2;
        background-color: #FFF;
        box-shadow: $box-soft-shadow;
        z-index: 1;

        #intro-title {
            h2 { 
                font-size: 3rem; 
                font-weight: 400;
                padding-bottom: 8px;
            }
            h3 { 
                width: 300px;
                font-size: 1.5rem; 
                font-weight: 400;
                padding-bottom: 16px;
                margin-bottom: 30px;
                border-bottom: 2px solid $page-title-border;
            }
        }

        #intro-content {
            p {
                margin-bottom: 16px;
            }
        }
    }

    #select {
        width: 760px; //placeholder
        z-index: 1;

        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 24px;

        #select-col_1 {
            flex: 2.5;
            height: 360px;   
            padding-left: 24px;
            padding-right: 24px;
            box-shadow: $box-soft-shadow;
            background-color: #FFF;

            display: flex;
            align-items: center;
            flex-direction: row;
            gap: 24px;

            #select-col_1-col_1 {
                flex: 1.75;
                height: 300px;

                display: flex;
                justify-content: center;
                flex-direction: column;
                gap: 24px;

                #select-col_1-col_1-row_1 {
                    flex: 1;
                    height: 120px;
                    background-color: $default_2;

                    display: flex;
                    justify-content: flex-end;
                    flex-direction: column;

                    #select_1_1_1-history {
                        width: 100%;
                        height: 30px;
                        background-color: $title-overlay;

                        display: flex;
                        align-items: center;
                        
                        h4 {
                            margin-left: 8px;
                            font-weight: 400;
                            color: #FFF;
                        }
                    }

                    &:hover {
                        transform: scale(1.05);
                        transition: 0.25s;
                    }
                }

                #select-col_1-col_1-row_2 {
                    flex: 1;
                    height: 120px;
                    background-color: $default_2;
                    
                    display: flex;
                    justify-content: flex-end;
                    flex-direction: column;

                    #select_1_1_2-covenant {
                        width: 100%;
                        height: 30px;
                        background-color: $title-overlay;

                        display: flex;
                        align-items: center;
                        
                        h4 {
                            margin-left: 8px;
                            font-weight: 400;
                            color: #FFF;
                        }
                    }

                    &:hover {
                        transform: scale(1.05);
                        transition: 0.25s;
                    }
                }
            }

            #select-col_1-col_2 {
                flex: 1;
                height: 300px;
                background-color: $default_1;

                #select_1_2-fishwild {
                    width: 100%;
                    height: 30px;
                    background-color: $title-overlay;

                    display: flex;
                    align-items: center;

                    h4 {
                        margin-left: 8px;
                        font-weight: 400;
                        color: #FFF;
                    }
                }

                &:hover {
                    transform: scale(1.05);
                    transition: 0.25s;
                }
            }
        }

        #select-col_2 {
            flex: 1;
            height: 424px;

            display: flex;
            justify-content: space-between;
            flex-direction: column;

            #select-col_2-row_1 {
                height: 50%;
                clip-path: polygon(0% 0%, 100% 0%, 100% 70%, 0% 100%);
                transform: translateY(32px);
                background-color: $default_1;

                #select_2_1-inn {
                    width: 100%;
                    height: 40px;

                    display: flex;
                    align-items: center;

                    h4 {
                        margin-left: 12px;
                        font-weight: 400;
                        color: #000;
                    }
                }

                &:hover {
                    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
                    transform: translateY(32px) scale(1.05);
                    transition: 0.25s;
                    z-index: 1;
                }
            }
            

            #select-col_2-row_2 {
                height: 50%;
                clip-path: polygon(0% 30%, 100% 0%, 100% 100%, 0% 100%);
                transform: translateY(-32px);
                background-color: $default_2;

                display: flex;
                justify-content: flex-end;
                flex-direction: column;

                #select_2_2-resort {
                    width: 100%;
                    height: 40px;

                    display: flex;
                    justify-content: flex-end;
                    align-items: center;

                    h4 {
                        margin-right: 12px;
                        font-weight: 400;
                        color: #000;
                    }
                }

                &:hover {
                    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
                    transform: translateY(-32px) scale(1.05);
                    transition: 0.25s;
                    z-index: 1;
                }
            }
        }
    }
}