.sidepage-layout {
    max-width: 1100px;

    display: flex;
    flex-direction: row;

    .submenu {
        width: 180px;
        background-color: $sidepage-submenu;
        background-image: url("images/sidepage-submenu.png");
        background-position: bottom;
        background-repeat: no-repeat;

        .submenu-container {
            div {
                height: 50px;

                display: flex;
                justify-content: center;
                align-items: center;
            }

            .chapter-title {
                background-color: #FFF9F0;
            
                h2 { font-size: 1.1rem; }
            }

            .link {
                background-color: #383838;
    
                a {
                    width: 100%;
                    height: 100%;
                    font-size: 1rem;
                    color: #FFF;

                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                &:hover {
                    background: $hover;
                    transition: 0.25s;
                }

                #tag {
                    width: 6px;
                    height: 24px;
                    background-image: url("images/submenu-link-tag.png");
                }
            }
        }
    }

    .content {
        width: 920px;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 50px;
        padding-right: 50px;
        background-color: $sidepage-content;
        background-image: url("images/sidepage_main-background.png");
        background-position: bottom;
        background-repeat: no-repeat;

        h1 {
            display: inline-block;
            font-size: 4rem;
            padding-bottom: 16px;
            margin-bottom: 32px;
            border-bottom: 2px solid $page-title-border;
        }

        p {
            margin-bottom: 32px;
        }
    }
}