$header: #1F2A4F;
$header_acc: #18203C;
$menu: #F3930E;
$menu_acc: #DB840B;
$main: #FFF9F0;
$sidepage-submenu: #F3930E;
$sidepage-content: #FFF9F0;
$page-title-border: #FFD800;
$footer: #25354B;
$border_1: #262626;
$border_2: #F3930E;
$default_1: #E6E6E6;
$default_2: #B2B2B2;
$title-overlay: rgba(50, 50, 50, 0.75);
$box-soft-shadow: 0 0 32px #ccc;
$hover: rgba(80, 80, 80, 0.50);