@import "./_variables";
@import "./_homepage";
@import "./_sidepage";

* {
    list-style: none;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p, a {
    padding: 0;
    margin: 0;
    font-family: 'Quattrocento Sans', sans-serif;
}

p {
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0 auto;
}

.page {
    margin: 0 auto;
}

header {
    background-color: $header;

    #top {
        width: 62.5%; /* 1200px / 1920px */
        max-width: 1200px;
        height: 80px;
        background-color: $header;
        margin: 0 auto;

        display: flex;
        align-items: center;
        flex-direction: row;

        #logo-container {
            width: 220px;
            height: 140px;
            margin-top: 60px;
            margin-left: 1.04166667%; /* 20px / 1920px */
            background-image: url(../images/logo_container-background.png);
            z-index: 1;

            #logo {
                width: 70px;
                height: 100px;
                margin-top: 6px;
                margin-left: 75px;
                background-image: url(../images/logo.png);
            }
        }

        #title {
            margin-left: 1.04166667%; /* 20px / 1920px */
            color: #FFF;

            h1 { font-size: 1.875rem; }
            h2 { font-size: 1.5rem;}
        }
    }

    #top-border-bottom {
        max-width: 1920px;
        height: 20px;
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto; 
        position: absolute;
        background-image: url(../images/top_border-bottom.png);
    }

    #banner {
        max-width: 1920px;
        height: 360px;
        margin: 0 auto;
        background-image: url(../images/banner-background-placehold.jpg);
        background-position: bottom;
    }

    #nav {
        height: 70px;
        border-top: 8px solid $border_1;
        border-bottom: 8px solid $border_1;
        background-color: $menu_acc;
        margin: 0 auto;
        
        #nav-container {
            width: 62.5%; /* 1200px / 1920px */
            margin: 0 auto;
            background-color: $menu;

            display: flex;
            justify-content: space-between;
            align-items: center;

            #nav-border-left {
                width: 40px;
                height: 70px;
                background-image: url(../images/nav_border-left.png);
            }
    
            ul {
                padding: 0px;
                margin: 0px;

                display: flex;
                flex-direction: row;
    
                li {
                    height: 36px;
    
                    display: flex;
                    align-items: center;
    
                    a { 
                        padding-left: 32px;
                        padding-right: 32px;
                        padding-top: 8px;
                        padding-bottom: 8px;
                        border-right: 0.5px solid rgba(225, 255, 255, 0.25);
                        font-size: 1.125rem;
                        font-weight: bold; 
                        color: #FFF;
                    }

                    &:last-child {
                        a {
                            border: none;
                        }
                    }
    
                    &:hover {
                        background: $hover;
                        transition: 0.25s;
                    }

                    #nav-tag {
                        width: 100%;
                        height: 2px;
                        background-color: $tag_nav;
                    }
                }
            }
    
            #nav-border-right {
                width: 40px;
                height: 70px;
                background-image: url(../images/nav_border-right.png);
            }
        }
    }
}

footer {
    height: 140px;
    border-top: 8px solid $border_1;
    background-color: $footer;
    margin: 0 auto;

    #footer-container {
        width: 62.5%; /* 1200px / 1920px */
        max-width: 1200px;
        margin: 0 auto;

        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        
        #info {
            margin-left: 2.66666667%; /* 32px / 1200px */
            color: #808080;
        }
    
        #footer-logo {
            width: 240px;
            height: 140px;
            background-image: url(../images/footer_logo.png);
            margin-right: 2.66666667%; /* 32px / 1200px */
        }
    }
}

@media screen and (max-width: 1536px) {
    header {
        #nav {
            #nav-container {
                ul {
                    li {
                        a {
                            padding-left: 28px;
                            padding-right: 28px;
                        }
                    }
                }
            }
        }
    }

    .sidepage-container {
        .sidepage-layout {
            .submenu {
                width: 20%;
            }
        }
    }
}

@media screen and (max-width: 1440px) {
    header {
        #top {
            width: 66.5%;
        }

        #nav {
            #nav-container {
                width: 66.5%;
            }
        }   
    }

    main {
        #main-content-container {
            width: 66.5%;
        }
    }

    .sidepage-container {
        .sidepage-layout {
            width: 66.5%;
        }
    }

    footer {
        #footer-container {
            width: 66.5%;
        }
    }
}

@media screen and (max-width: 1280px) {
    header {
        #nav {
            #nav-container {
                ul {
                    li {
                        a {
                            padding-left: 22px;
                            padding-right: 22px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 962px) {
    header {
        #top {
            width: 100%;

            #logo-container {
                margin-left: 0px;
            }
        }

        #banner {
            height: 260px;
        }

        #nav {
            #nav-container {
                width: 100%;

                ul {
                    li {
                        a {
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
    }

    main {
        #main-content-container {
            width: 92%;

            #select {
                h4 {
                    font-size: 0.875rem;
                }
            }
        }
    }

    .sidepage-container {
        .sidepage-layout {
            width: 100%;

            .submenu {
                width: 18.5%;
            }
        }
    }

    footer {
        #footer-container {
            width: 100%;
        }
    }
}

@media screen and (max-width: 800px) {
    header {
        #nav {
            #nav-container {
                ul {
                    li {
                        a {
                            padding-left: 20px;
                            padding-right: 20px;
                        }
                    }
                }
            }
        }
    }

    main {
        #main-content-container {
            width: 90%;
        }
    }

    .sidepage-container {
        .sidepage-layout {
            .submenu {
                width: 26.5%;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    header {
        #nav {
            #nav-container {
                ul {
                    li {
                        a {
                            padding-left: 18px;
                            padding-right: 18px;
                        }
                    }
                }
            }
        }
    }

    main {
        #main-content-container {
            #select {
                #select-col_1 {
                    height: 360px;
                }
                #select-col_2 {
                    height: 360px;
                }
            }
        }
    }

    .sidepage-container {
        .sidepage-layout {
            .submenu {
                width: 25.5%;
            }
        }
    }
}

@media screen and (max-width: 601px) {
    header {
        #top {
            #title {
                h1 { font-size: 1.5rem ; }
                h2 { font-size: 1.25rem; }
            }
        }

        #nav {
            #nav-container {
                ul {
                    li {
                        a {
                            padding-left: 14px;
                            padding-right: 14px;
                            font-size: 0.75rem;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }

    main {
        #main-content-container {
            width: 92%;
            padding-top: 40px;
            padding-bottom: 60px;

            #intro {
                #intro-title {
                    margin-top: 40px;
                    margin-left: 50px;
                    margin-right: 50px;

                    #intro-title-acc {
                        margin-left: -50px;
                    }
                }

                #intro-content {
                    margin-left: 50px;
                    margin-right: 50px;
                }
            }

            #select {
                #select-col_1 {
                    #select-col_1-col_1 {
                        #select-col_1-col_1-row_1 {
                            margin-top: 16px;
                            margin-left: 16px;
                            margin-right: 16px;
                        }

                        #select-col_1-col_1-row_2 {
                            margin-bottom: 16px;
                            margin-left: 16px;
                            margin-right: 16px;
                        }
                    }

                    #select-col_1-col_2 {
                        display: none;
                    }
                }
            }
        }
    }

    .sidepage-container {
        .sidepage-layout {
            .submenu {
                width: 27%;
            }

            .content {
                padding-top: 40px;
                padding-bottom: 30px;
                padding-left: 40px;
                padding-right: 40px;
            }
        }
    }
}

@media screen and (max-width: 414px) {
    header {
        #top {
            #logo-container {
                transform: scale(0.9);
                margin-top: 45px;
                margin-left: -10px;
            }
        }

        #banner {
            height: 220px;
        }

        #nav {
            height: 100%;
        }
    }

    main {
        #main-content-container {
            width: 100%;
            padding-top: 0px;
            padding-bottom: 50px;
            
            gap: 40px;

            #intro {
                border-top: none;
                box-shadow: none;

                #intro-title {
                    margin-top: 30px;
                    margin-left: 40px;
                    margin-right: 40px;

                    #intro-title-acc {
                        margin-left: -40px;
                        margin-top: 3px;
                    }

                    h2 { font-size: 2.25rem; }
                    h3 { 
                        width: 240px;
                        font-size: 1.25rem; 
                    }
                }

                #intro-content {
                    margin-left: 40px;
                    margin-right: 40px;

                    p {
                        font-size: 0.875rem;
                    }
                }
            }

            #select {
                flex-direction: column;

                #select-col_1 {
                    width: 85%;

                    #select-col_1-col_1 {
                        height: 320px;
                    }
                }

                #select-col_2 {
                    width: 85%;

                    flex-direction: row;
                    gap: 24px;

                    #select-col_2-row_1 {
                        height: 160px;

                        display: flex;
                        justify-content: flex-end;
                        flex-direction: column;

                        #select_2_1-inn {
                            background-color: $title-overlay;
                        }
                    }

                    #select-col_2-row_2 {
                        height: 160px;

                        #select_2_2-resort {
                            background-color: $title-overlay;
                        }
                    }
                }
            }
        }
    }

    .sidepage-container {
        .sidepage-layout {
            flex-direction: column;

            .submenu {
                width: 100%;
                padding-top: 0px;
                border-bottom: 8px solid $border_1;
            }

            .content {
                padding-top: 32px;
                padding-bottom: 24px;
                padding-left: 0px;
                padding-right: 0px;

                h1 {
                    margin-left: 24px;
                    margin-right: 24px;
                    font-size: 2.25rem;
                }

                h4 {
                    margin-left: 24px;
                    margin-right: 24px;
                    font-size: 1rem;
                }

                p {
                    margin-left: 24px;
                    margin-right: 24px;
                    font-size: 0.875rem;
                }
            }
        }
    }

    footer {
        #footer-container {
            #footer-logo {
                margin: 0;
            }
        }
    }
}

@media screen and (max-width: 375px) {
    header {
        #top {
            #title {
                margin-left: -2px;
            }
        }
    }
}

@media screen and (max-width: 360px) {
    header {
        #top {
            #title {
                margin-left: 2px;

                h1 { font-size: 1.25rem; }
                h2 { font-size: 1.125rem;}
            }
        }
    }
}

// mobile-dimensions nav-menu
#nav-container-mobile {
    display: none;
    
    #nav-button-container {
        margin: 0 auto;
        background-color: $menu;

        display: flex;
        justify-content: space-between;
        align-items: center;

        #nav-border-left {
            width: 40px;
            height: 60px;
            background-image: url(../images/nav_border-left.png);
            background-position: center;
        }

        #nav-menu-button {
            width: 35px;
            height: 24px;
            background-image: url(../images/nav-menu-mobile.png);
            background-position: center;
            background-repeat: no-repeat;
        }
    
        #nav-border-right {
            width: 40px;
            height: 60px;
            background-image: url(../images/nav_border-right.png);
            background-position: center;
        }
    }

    #nav-dropdown-container {
        margin: 0 auto;
        background-color: $menu;

        ul {
            padding: 0px;
            margin: 0px;         

            li {
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;

                a {
                    font-size: 0.875rem;
                    font-weight: bold;
                    color: #FFF;
                }

                #nav-tag {
                   height: 2px;
                   width: 100%;
                   background-color: $tag_nav;
                }
            }
        }
    }
}
