main {
  background-color: #FFF9F0;
  background-image: url(/images/homepage_main-background.png);
  background-position: bottom;
  background-repeat: no-repeat;
}
main > div {
  max-width: 760px;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main #intro-title-acc {
  width: 6px;
  height: 32px;
  margin-left: -80px;
  margin-top: 10px;
  position: absolute;
  background-color: #F3930E;
}
main #intro {
  height: 360px;
  padding-top: 50px;
  padding-bottom: 42px;
  padding-left: 80px;
  padding-right: 80px;
  border-top: 8px solid #F3930E;
  background-color: #FFF;
  box-shadow: 0 0 32px #ccc;
  z-index: 1;
}
main #intro #intro-title h2 {
  font-size: 3rem;
  font-weight: 400;
  padding-bottom: 8px;
}
main #intro #intro-title h3 {
  width: 300px;
  font-size: 1.5rem;
  font-weight: 400;
  padding-bottom: 16px;
  margin-bottom: 30px;
  border-bottom: 2px solid #FFD800;
}
main #intro #intro-content p {
  margin-bottom: 16px;
}
main #select {
  width: 760px;
  z-index: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 24px;
}
main #select #select-col_1 {
  flex: 2.5;
  height: 360px;
  padding-left: 24px;
  padding-right: 24px;
  box-shadow: 0 0 32px #ccc;
  background-color: #FFF;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 24px;
}
main #select #select-col_1 #select-col_1-col_1 {
  flex: 1.75;
  height: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
}
main #select #select-col_1 #select-col_1-col_1 #select-col_1-col_1-row_1 {
  flex: 1;
  height: 120px;
  background-color: #B2B2B2;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
main #select #select-col_1 #select-col_1-col_1 #select-col_1-col_1-row_1 #select_1_1_1-history {
  width: 100%;
  height: 30px;
  background-color: rgba(50, 50, 50, 0.75);
  display: flex;
  align-items: center;
}
main #select #select-col_1 #select-col_1-col_1 #select-col_1-col_1-row_1 #select_1_1_1-history h4 {
  margin-left: 8px;
  font-weight: 400;
  color: #FFF;
}
main #select #select-col_1 #select-col_1-col_1 #select-col_1-col_1-row_1:hover {
  transform: scale(1.05);
  transition: 0.25s;
}
main #select #select-col_1 #select-col_1-col_1 #select-col_1-col_1-row_2 {
  flex: 1;
  height: 120px;
  background-color: #B2B2B2;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
main #select #select-col_1 #select-col_1-col_1 #select-col_1-col_1-row_2 #select_1_1_2-covenant {
  width: 100%;
  height: 30px;
  background-color: rgba(50, 50, 50, 0.75);
  display: flex;
  align-items: center;
}
main #select #select-col_1 #select-col_1-col_1 #select-col_1-col_1-row_2 #select_1_1_2-covenant h4 {
  margin-left: 8px;
  font-weight: 400;
  color: #FFF;
}
main #select #select-col_1 #select-col_1-col_1 #select-col_1-col_1-row_2:hover {
  transform: scale(1.05);
  transition: 0.25s;
}
main #select #select-col_1 #select-col_1-col_2 {
  flex: 1;
  height: 300px;
  background-color: #E6E6E6;
}
main #select #select-col_1 #select-col_1-col_2 #select_1_2-fishwild {
  width: 100%;
  height: 30px;
  background-color: rgba(50, 50, 50, 0.75);
  display: flex;
  align-items: center;
}
main #select #select-col_1 #select-col_1-col_2 #select_1_2-fishwild h4 {
  margin-left: 8px;
  font-weight: 400;
  color: #FFF;
}
main #select #select-col_1 #select-col_1-col_2:hover {
  transform: scale(1.05);
  transition: 0.25s;
}
main #select #select-col_2 {
  flex: 1;
  height: 424px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
main #select #select-col_2 #select-col_2-row_1 {
  height: 50%;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 70%, 0% 100%);
          clip-path: polygon(0% 0%, 100% 0%, 100% 70%, 0% 100%);
  transform: translateY(32px);
  background-color: #E6E6E6;
}
main #select #select-col_2 #select-col_2-row_1 #select_2_1-inn {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
}
main #select #select-col_2 #select-col_2-row_1 #select_2_1-inn h4 {
  margin-left: 12px;
  font-weight: 400;
  color: #000;
}
main #select #select-col_2 #select-col_2-row_1:hover {
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  transform: translateY(32px) scale(1.05);
  transition: 0.25s;
  z-index: 1;
}
main #select #select-col_2 #select-col_2-row_2 {
  height: 50%;
  -webkit-clip-path: polygon(0% 30%, 100% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(0% 30%, 100% 0%, 100% 100%, 0% 100%);
  transform: translateY(-32px);
  background-color: #B2B2B2;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
main #select #select-col_2 #select-col_2-row_2 #select_2_2-resort {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
main #select #select-col_2 #select-col_2-row_2 #select_2_2-resort h4 {
  margin-right: 12px;
  font-weight: 400;
  color: #000;
}
main #select #select-col_2 #select-col_2-row_2:hover {
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  transform: translateY(-32px) scale(1.05);
  transition: 0.25s;
  z-index: 1;
}

.sidepage-layout {
  max-width: 1100px;
  display: flex;
  flex-direction: row;
}
.sidepage-layout .submenu {
  width: 180px;
  background-color: rgba(255, 148, 0, 0.7);
  background-image: url(/images/sidepage-submenu.png);
  background-position: bottom;
  background-repeat: no-repeat;
}
.sidepage-layout .submenu .submenu-container div {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidepage-layout .submenu .submenu-container .chapter-title {
  background-color: #FFF9F0;
}
.sidepage-layout .submenu .submenu-container .chapter-title h2 {
  font-size: 1.1rem;
}
.sidepage-layout .submenu .submenu-container .link {
  background-color: #383838;
}
.sidepage-layout .submenu .submenu-container .link a {
  width: 100%;
  height: 100%;
  font-size: 1rem;
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidepage-layout .submenu .submenu-container .link:hover {
  background: rgba(80, 80, 80, 0.5);
  transition: 0.25s;
}
.sidepage-layout .submenu .submenu-container .link #tag {
  width: 6px;
  height: 24px;
  background-image: url(/images/submenu-link-tag.png);
}
.sidepage-layout .content {
  width: 920px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #FFF9F0;
  background-image: url(/images/sidepage_main-background.png);
  background-position: bottom;
  background-repeat: no-repeat;
}
.sidepage-layout .content h1 {
  display: inline-block;
  font-size: 4rem;
  padding-bottom: 16px;
  margin-bottom: 32px;
  border-bottom: 2px solid #FFD800;
}
.sidepage-layout .content p {
  margin-bottom: 32px;
}

* {
  list-style: none;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p, a {
  padding: 0;
  margin: 0;
  font-family: "Quattrocento Sans", sans-serif;
}

body {
  width: 1920px;
  background-color: #B2B2B2;
}

.page {
  width: 1100px;
  margin: 0 auto;
  margin-top: 32px;
  margin-bottom: 32px;
}

header #top {
  height: 80px;
  background-color: #1F2A4F;
  display: flex;
  align-items: center;
  flex-direction: row;
}
header #top #logo-container {
  width: 220px;
  height: 140px;
  margin-top: 60px;
  margin-left: 20px;
  position: relative;
  background: url(/images/logo_container-background.png);
  z-index: 1;
}
header #top #logo-container #logo {
  width: 70px;
  height: 100px;
  margin-top: 6px;
  margin-left: 75px;
  background: url(/images/logo.png);
}
header #top #title {
  margin-left: 20px;
  color: #FFF;
}
header #top #title h1 {
  font-size: 1.875rem;
}
header #top #title h2 {
  font-size: 1.5rem;
}
header #top-border-bottom {
  width: 1100px;
  height: 20px;
  position: absolute;
  background-image: url(/images/top_border-bottom.png);
}
header #banner {
  height: 340px;
  background-color: #E6E6E6;
}
header #nav {
  height: 70px;
  border-top: 8px solid #262626;
  border-bottom: 8px solid #262626;
  background-color: #F3930E;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header #nav #nav-border-left {
  width: 40px;
  height: 70px;
  background-image: url(/images/nav_border-left.png);
}
header #nav ul {
  display: flex;
  flex-direction: row;
}
header #nav ul li {
  height: 36px;
  display: flex;
  align-items: center;
}
header #nav ul li a {
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-right: 0.5px solid rgba(225, 255, 255, 0.25);
  font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: 0.5px;
  color: #FFF;
}
header #nav ul li:last-child a {
  border: none;
}
header #nav ul li:hover {
  background: rgba(80, 80, 80, 0.5);
  transition: 0.25s;
}
header #nav #nav-border-right {
  width: 40px;
  height: 70px;
  background-image: url(/images/nav_border-right.png);
}

footer {
  height: 160px;
  border-top: 8px solid #262626;
  background-color: #25354B;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
footer #info {
  margin-left: 32px;
  color: #808080;
}
footer #footer-logo {
  width: 240px;
  height: 160px;
  background-image: url(/images/footer_logo.png);
  margin-right: 32px;
}/*# sourceMappingURL=style.css.map */